/*********************
   Параметры для body
*********************/

body{
    background: deepskyblue; /*Задний фон*/
}

/*****************************************
   Параметры контейнера ГЛАВНОГО КОНТЕНТА
*****************************************/

.boy-main{
    margin-top: 2%; /*Отступ сверху*/
    margin-left: 15%; /*Отсутп слева*/
    margin-right: auto; /*Отсутп справа*/
}

/*********************
   Параметры для ФОТО
*********************/

img{
    border-radius: 20px; /*Закругление границ*/
}

/*********************************************
   Параметры для КОНТЕНТА где DISPLAY = FLEX
**********************************************/

.menu-ind{
    display: flex; /*Расположение элементов*/
    margin-top: 20px; /*Отступ сверху*/
    margin-left: 18%; /*Отступ слева*/
    width: 80%; /*Ширина элемента*/
    color: white; /*Цвет элемента*/
}

/*************************************************
   Параметры для первого элемента слева контента
**************************************************/

.bg-men{
    background: #1E6D74; /*Задний фон*/
    border: none; /*Границы - отсутствуют*/
    margin-right: 10px; /*Отступ справа*/
    margin-top: auto; /*Отступ сверху*/
}

/*************************************************
   Параметры для второго элемента слева контента
**************************************************/

.bg-men-1{
    margin-top: 15%; /*Отступ свреху*/
}

/*********************************
     Параметры для полей ввода
*********************************/

input{
    width: 300px; /*Ширина элемента*/
    border-radius: 20px; /*Округление границ элемента*/
    border-color: antiquewhite; /*Цвет границ*/
}

/**********************************************************
   Параметры для текста в местах ввода (ВХОД, РЕГИСТРАЦИЯ)
***********************************************************/

.offcanvas-header{
    margin-top: 60%; /*Отступ сверху*/
}

/******************************************************************
   Параметры для отображения НАЗВАНИЯ ПОЛЬЗОВАТЕЛЯ, а так же ВЫХОД
*******************************************************************/

.dropdown{
    margin-left: 30%; /*Отступ слева*/
}

/***********************************
   Параметры для КНОПКИ РЕГИСТРАЦИЯ
************************************/

.dropdown-reg{
    margin-left: 20%; /*Отступ слева*/
}

/*************************
  !!!СТРАНИЦА КОНТАКТЫ!!!
**************************/

/***********************
  ОСНВОВНАЯ ИНФОРМАЦИЯ
***********************/

.contact{
    color: white; /*Цвет элемента*/
    margin-top: 20px; /*Отступ сверху*/
    text-align: center; /*Расположение текста*/
}

.profile{
    color: white;
    margin-top: 20px; /*Отступ сверху*/
    text-align: center; /*Расположение текста*/
}
